* {
  margin: 0;
  // padding: 0;
}

img {
  border: 0;
  outline: 0;
  max-width: 100%;
}

button {
  margin: 0;
  border: 0;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
}

a {
  display: inline-block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  color: $black;
  line-height: 24px;
}

a {
  text-decoration: none;
}
