.dashboard {
  &__content {
    margin-top: 32px;
  }

  // User profile card
  &__user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 8px;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &-info {
      .name,
      .designation,
      .edit {
        text-transform: capitalize;
      }
      .name {
        color: color(gray-9);
      }
      .designation {
        color: color(gray-5);
      }
      .edit {
        color: color(primary);
        margin-top: 9px;
      }
    }
  }
  // User Billing card
  &__user-billing {
    &-title {
      line-height: 14px;
      text-transform: uppercase;
      color: color(gray-4);
      letter-spacing: 0.03em;
      margin-bottom: 18px;
    }

    &-name,
    &-location,
    &-editaddress {
      text-transform: capitalize;
    }

    &-name,
    &-email,
    &-number {
      color: color(gray-9);
    }
    &-location {
      color: color(gray-6);
    }
    &-editaddress {
      color: color(primary);
      margin-top: 12px;
      &:hover {
        color: color(primary);
      }
    }

    &-name,
    &-location {
      margin-bottom: 8px;
    }
    &-email,
    &-number {
      margin-bottom: 6px;
    }
  }

  &__user-profile,
  &__user-billing {
    @include max(991px) {
      margin-bottom: 24px;
      height: auto;
    }
  }

  // Order Hisotry
  &__order-history {
    position: relative;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      @include max(767px) {
        padding: 16px 12px;
      }
      h2,
      a {
        text-transform: capitalize;
      }
      h2 {
        color: color(gray-9);
        @include max(575px) {
          font-size: 16px;
        }
      }
      a {
        color: color(primary);
        @include max(575px) {
          font-size: 14px;
        }
      }
    }
    &-table {
      &-title,
      &-item {
        font-size: 14px;
        line-height: 21px;
        padding: 12px 24px !important;
        border-bottom: 0px !important;
        @include max(767px) {
          padding: 12px !important;
        }
      }

      &-title {
        color: color(gray-7);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-weight: 500;
        background-color: color(gray-0) !important;
      }

      &-item {
        font-weight: 400;
        color: color(gray-8);
        padding: 12px 24px !important;
        @include max(767px) {
          padding: 12px !important;
        }
        &:nth-last-child(1) {
          padding-right: 24px !important;
          text-align: right;
        }

        .order-total {
          &-price {
            font-weight: 500;
            .quantity {
              font-weight: 400;
            }
          }
        }
        &.order-details {
          a {
            font-weight: 500;
            color: color(primary);
          }
        }
      }
    }
  }

  // Pagination
  &__order-pagination {
    padding: 32px 0px;
    padding-top: 12px;

    @include max(767px) {
      padding-top: 32px;
    }
  }
}
