// Homepage 01 => Shipping Cards

.shipping-container {
  margin-bottom: 26px;
  &--slider {
    background-color: #fff;
    box-shadow: 0px 8px 40px 0px #00260314;
  }
}

//=======  Homepage 01 ========== //

// popular categories
.popular-categories--slider {
  .swiper-slide {
    text-align: center;
  }
}

// Instagram
.instagram {
  .swiper-slide {
    text-align: center;
  }
}

//\\=======  Homepage 02 ========== //\\

// Shipping Cards
.shipping-container--two {
  margin-bottom: 0px;
  .swiper-container {
    border-bottom: 1px solid color(gray-2);
  }
}

//Our Featured Products
.featured {
  &__content {
    h2 {
      margin-bottom: 16px;
    }
  }

  &-slider--three {
    height: 350px;
  }
}

// Our Profesional Members
.members {
  padding-bottom: 0px;
  &-slider--one {
    padding-bottom: 60px;
    @include max(767px) {
      padding-bottom: 30px;
    }
  }
}

// Brand Names
.brand-name {
  &--two {
    .brand-name {
      &-slide--one {
        padding: 60px 0px;
        border: 1px solid color(gray-1);
      }
    }
  }
}

// Testimonials
.testimonial {
  &--two {
    padding-left: 60px;
    padding-right: 60px;
    @include max(1200px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

//\\=======  Homepage 03 ========== //\\

// Top Category
.cateogory--top {
  .container {
    position: relative;
    .arrows {
      z-index: 3;
      &__btn {
        position: absolute;
        top: calc(50% + 30px);
        transform: translate(-50%);

        &.swiper-button {
          &--prev {
            left: -40px;
          }
          &--next {
            right: -80px;
          }
        }
      }
    }
  }
}

// Testimonial
.testimonial {
  &--three {
    .swiper-wrapper {
      padding-bottom: 60px;
    }
  }
}

//\\=======  Homepage 04 ========== //\\

// 03. Shipping Container
.shipping-container {
  &--three {
    padding-top: 50px;
    margin-bottom: 0px;

    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
    }
    &::before {
      top: 0;
      background-color: #fff;
    }
    &::after {
      bottom: 0;
      background-color: color(green-0);
    }
    .shipping-container--slider {
      border-radius: 8px;
    }
  }
}

// 04. Our products
.our-products {
  .section__head {
    h2 {
      margin-bottom: 24px;
    }
  }
  &__menu {
    border: 0px;
    li {
      padding: 15px 0px;
      @include max(767px) {
        padding-bottom: 0px;
      }
      &:nth-last-child(1) {
        button {
          border-right: 0px !important;
        }
      }
      button {
        font-size: 16px;
        line-height: 24px;
        color: color(gray-5);
        font-weight: 500;
        text-transform: capitalize;
        border: 0px !important;
        border-right: 1px solid color(green-2) !important;
        padding: 0px 24px;

        @include max(767px) {
          padding: 0px;
          padding-right: 15px;
          border-color: transparent !important;
        }

        &.active {
          background-color: transparent !important;
          color: color(primary) !important;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 40px);
            height: 2px;
            background-color: color(primary);
            @include max(767px) {
              bottom: -10px;
              left: 0px;
              transform: translateX(0px);
              width: 50%;
            }
          }
        }
        &:hover {
          color: color(primary);
        }
      }
    }
  }

  // Tab Content
  &__content-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include max(991px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include max(767px) {
      display: none;
    }
  }
  &__content-slider {
    @include min(768px) {
      display: none;
    }
  }
}

// banner promo
.banner-promo {
  position: relative;
  // overflow: hidden;
  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
  }
  &::after {
    top: 0;
    background-color: color(green-0);
  }
  &::before {
    bottom: 0;
    background-color: #fff;
  }
  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 740px;
    overflow: hidden;
    border-radius: 20px;

    @include max(991px) {
      height: 475px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #002e0399;
      // z-index: -1;
    }
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;
      @include max(767px) {
        width: 95%;
      }
      span.title {
        font-size: 16px;
        line-height: 16px;
        font-family: $font-2;
        color: #fff;
        font-weight: 400;
        margin-bottom: 12px;
      }
      h5 {
        width: 495px;
        margin: auto;
        color: #fff;
        margin-bottom: 32px;
        @include max(767px) {
          width: 100%;
          font-size: 28px;
          line-height: 38px;
        }
      }
      .play-icon {
        color: #fff;
        &:hover {
          transition: all 0.3s linear;
          color: color(primary);
        }
      }
    }
  }
}

// Latest News
.latest-news {
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
  }
  &::before {
    top: 0;
    background-color: #fff;
  }
  &::after {
    bottom: 0;
    background-color: color(green-0);
  }
}

// News letter
.call-to-action {
  &--four {
    border-top: 1px solid color(green-2);
  }
}

// Best Deals
.best-deals {
  overflow: hidden;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    .title {
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: color(primary);
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    h2 {
      width: 500px;
      color: color(green-9);
      margin-bottom: 24px;

      @include max(767px) {
        max-width: 100%;
        font-size: 32px;
        line-height: 42px;
      }
    }
    .button {
      margin-top: 24px;
    }
  }

  &__img-content {
    z-index: -1;
    pointer-events: none;
    user-select: none;
    &--one,
    &--two {
      position: absolute;

      img {
        height: inherit;
        object-fit: contain;
      }
    }
    &--one {
      top: 50%;
      transform: translateY(-50%);
      left: -70px;
      height: 300px;
      @include min-max(768px, 991px) {
        left: -350px;
      }
      @include max(767px) {
        display: none;
      }
    }
    &--two {
      bottom: -100px;
      right: -220px;
      @include min-max(768px, 991px) {
        right: -450px;
      }
      @include max(767px) {
        right: 0px;
      }
    }
  }
}

//\\=======  Homepage 05 ========== //\\

// Featured Products
.featured {
  &--five {
    .cards-md {
      border-radius: 8px;
    }
  }

  &__overlay-img {
    position: absolute;
    z-index: -1;
    &--one {
      bottom: 30px;
      left: 0px;
    }
    &--two {
      bottom: -15px;
      left: calc(10% + 50px);
      z-index: 1;
      @include max(767px) {
        bottom: -30px;
      }
      @include max(575px) {
        left: auto;
        right: 0px;
      }
    }
  }
}

//\\ =========  Responsive ======== //\\

@include max(1440px) {
  // ====== Homepage 03 ========== \\
  .cateogory--top {
    .section__head {
      .arrows {
        button {
          position: static !important;
        }
      }
    }
    .container {
      .arrows {
        &.category--top-arrows-lg {
          display: none;
        }
      }
    }

    // .arrows {
    //   position: absolute;
    //   top: -25px;
    //   right: 90px;
    //   &__btn {
    //     &.swiper-button {
    //       &--prev {
    //         left: -60px;
    //       }
    //       &--next {
    //         right: -45px;
    //       }
    //     }
    //   }
    // }
  }
}

@include min-max(768px, 1440px) {
  .cateogory--top {
    .section__head {
      justify-content: space-between !important;
      h2 {
        span {
          left: 20px;
          transform: translateX(0px);
        }
      }
    }
  }
}

@include max(1200px) {
  // ======== Homepage 02 ========== \\

  // == > Call To Actions
  .call-to-action {
    &--two {
      background-color: color(gray-9);
    }
  }
}
@include max(991px) {
  // ======= homepage 02 ======= \\
  .featured {
    .cards-ss--small-one,
    .cards-ss--small-two {
      margin-bottom: 15px;
    }

    &__content {
      margin-bottom: 15px;
    }
  }
}

@include min(768px) {
  // Paginations
  .featured,
  .news,
  .testimonial-slider--one,
  .instagram-slider--one,
  .members-slider--one,
  .cyclone--slider,
  .newest-products,
  .category--top-slider--two,
  .news-slider--one {
    .swiper-pagination {
      display: none;
    }
  }

  // Swiper Slider
  .our-products {
    .swiper-container {
      display: none;
    }
  }
}

@include max(767px) {
  // Pagination
  .featured,
  .news,
  .popular-categories--slider,
  .popular-products--slider,
  .testimonial-slider--one,
  .testimonial-slider--three,
  .instagram-slider--one,
  .cyclone--slider,
  .newest-products,
  .category--top-slider--two,
  .our-products__content-slider,
  .our-products__content-slider-one,
  .our-products__content-slider-two,
  .our-products__content-slider-three,
  .our-products__content-slider-four,
  .news-slider--one {
    .swiper-wrapper {
      padding-bottom: 30px;
    }
  }

  // ========= Homepage 03 ========\\
  .cateogory--top {
    .section__head {
      .arrows {
        margin-left: 50px;
      }
    }
  }
}
