// Homepage 01 => Shipping Cards

.shipping-container {
  margin-bottom: 26px;
  &--slider {
    background-color: #fff;
    box-shadow: 0px 8px 40px 0px #00260314;
  }
}

// Homepage 01  =>

// Homepage 01  => Commons
.popular-categories--slider,
.popular-products--slider {
  padding-bottom: 30px;
}

// popular categories
.popular-categories--slider {
  .swiper-slide {
    text-align: center;
  }
}

.featured,
.news {
  .swiper-wrapper {
    padding-bottom: 30px;
  }
}

// Responsive {
@media (min-width: 768px) {
  // Featured Section
  .featured,
  .news {
    .swiper-pagination {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  // Featured Section
  .featured,
  .news {
    .swiper-pagination {
      display: block;
    }
  }
}
