// header

.header {
  &--six {
    .navbar-nav {
      padding: 32px 0px;
      .nav-item {
        margin: 0px 20px;
        .nav-link {
          font-size: 18px;
          line-height: 27px;
          color: color(green-9);
          font-weight: 500;
          text-transform: capitalize;
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
    .navbar-collapse {
      @include max(991px) {
        padding-bottom: 30px;
      }
    }
  }
}

// Page View Tabs
.pageView {
  .section {
    &__head {
      h2 {
        color: #fff;
      }
    }
  }

  &__menu {
    border: 0px;
    @include max(575px) {
      justify-content: center;
    }
    .nav {
      &-link {
        margin-right: 25px;
        padding: 14px 32px;
        border-radius: 43px;
        border: 2px solid #ffffff33;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
        @include max(767px) {
          margin-right: 12px;
          margin-bottom: 12px;
        }
        &.active {
          background-color: color(primary);
          color: #fff;
          border-color: color(primary);
          transition: all 0.3s linear;
        }
      }
    }
  }

  &__card {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
    .img-box {
      position: relative;
      width: inherits;
      height: 312px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 18px;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    h5 {
      color: #fff;
      text-transform: capitalize;
    }
  }
}

// Call to action
.call-action {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 660px;

  &__text-content {
    h2 {
      margin-bottom: 50px;
      text-transform: capitalize;
      color: color(green-9);
      @include max(767px) {
        margin-bottom: 30px;
      }
    }
  }
  &__btn-group {
    a {
      margin: 0px 8px;
    }
  }
}
