// Related Products
.related {
  .swiper-wrapper {
    @include max(991px) {
      padding-bottom: 30px;
    }
  }
  .swiper-pagination {
    @include min(992px) {
      display: none;
    }
  }
}

// Product Details tabcontent
.products-tab {
  // description tabs

  // Description tab
  &__description--text {
    font-size: 14px;
    line-height: 21px;
    color: color(gray-5);
    font-weight: 400;
    margin-bottom: 30px;
  }
}
