// colors
@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

// fonts size for title/heading
@each $name, $size in $font-title {
  .font-title--#{$name} {
    font-size: $size;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
  }
  .font-title--#{$name}-n {
    font-size: $size;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
  }
}

// fonts body
@each $name, $size in $font-body {
  .font-body--#{$name}-400 {
    font-size: $size;
    font-weight: 400;
  }

  .font-body--#{$name}-500 {
    font-size: $size;
    font-weight: 500;
  }

  .font-body--#{$name}-600 {
    font-size: $size;
    font-weight: 600;
  }
}

// Spacing
@each $name, $space in $spacing {
  .section--#{$name} {
    padding: $space 0px;
  }
}

// Bg Colors
@each $name, $value in $colors {
  .section--#{$name} {
    background-color: $value;
  }
  .bg--#{$name} {
    background-color: $value;
  }
}
