.products {
  &__container {
    display: flex;
    justify-content: space-between;
    @include max(991px) {
      margin-bottom: 24px;
    }
    @include max(767px) {
      margin-bottom: 12px;
    }
  }

  &__gallery-main {
    width: 556px;
    height: 556px;
    @include max(767px) {
      height: 300px;
    }
  }

  &__gallery-thumbs {
    order: -1;
    width: 250px;
    height: 556px;
    margin-right: 12px;
    @include max(767px) {
      height: 300px;
    }

    .swiper {
      &-wrapper {
        justify-content: center;
        align-items: center;
      }
      &-slide {
        width: 80px;
        height: 100px !important;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        @include max(767px) {
          width: 80px;
          height: 80px !important;
        }
        @include max(575px) {
          width: 80px;
          height: 60px !important;
        }

        &-thumb-active {
          border: 1px solid color(primary);
        }
      }
    }
  }

  &__gallery-img {
    &--lg {
      width: 100%;
      height: 556px;
      @include max(767px) {
        height: 300px;
      }
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        @include max(575px) {
          object-fit: contain;
        }
      }
    }
    &--sm {
      width: 100%;
      height: 100px;
      @include max(575px) {
        height: 40px;
      }
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        @include max(575px) {
          object-fit: contain;
        }
      }
    }
  }
}

.swiper-button-prev-item,
.swiper-button-next-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  .swiper-button-icon {
    width: 14px;
    height: 14px;
    color: #999;
  }
}
.swiper-button-prev-item {
  top: 0;
}
.swiper-button-next-item {
  bottom: 30px;
}
