@use "sass:math";
// Homepage 01 = > Popular - Categories, Products

// == Functions == //

.popular-categories {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 24px;
  }
}

.popular-products {
  padding-bottom: 0px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

// Deals products

.deals {
  &-products__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'lg-card lg-card sm-card-one sm-card-two sm-card-three'
      'lg-card lg-card sm-card-four sm-card-five sm-card-six'
      'sm-card-seven sm-card-eight sm-card-nine sm-card-ten sm-card-eleven';
  }

  &-products__wrapper-item {
    &--one {
      grid-area: lg-card;
    }
    &--two {
      grid-area: sm-card-one;
    }
    &--three {
      grid-area: sm-card-two;
    }
    &--four {
      grid-area: sm-card-three;
    }
    &--five {
      grid-area: sm-card-four;
    }
    &--six {
      grid-area: sm-card-five;
    }
    &--seven {
      grid-area: sm-card-six;
    }
    &--eight {
      grid-area: sm-card-seven;
    }
    &--nine {
      grid-area: sm-card-eight;
    }
    &--ten {
      grid-area: sm-card-nine;
    }
    &--eleven {
      grid-area: sm-card-ten;
    }
    &--twelve {
      grid-area: sm-card-eleven;
    }
  }
}

// Responsive

@media (min-width: 992px) and (max-width: 1200px) {
  .popular-categories__wrapper,
  .popular-products__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .deals {
    &-products__wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'lg-card lg-card sm-card-one sm-card-two '
        'lg-card lg-card sm-card-three sm-card-four'
        'sm-card-five sm-card-six sm-card-seven sm-card-eight'
        'sm-card-nine sm-card-ten sm-card-eleven sm-card-twelve';
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .popular-categories__wrapper,
  .popular-products__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .deals {
    &-products__wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'lg-card lg-card sm-card-one'
        'lg-card lg-card sm-card-two'
        'sm-card-three sm-card-four sm-card-five'
        'sm-card-six sm-card-seven sm-card-eight'
        'sm-card-nine sm-card-ten sm-card-eleven';
    }
  }
}

@media (min-width: 768px) {
  .popular-categories--slider,
  .popular-products--slider,
  .deals-products--slider {
    display: none;
  }
}

@media (max-width: 767px) {
  .popular-categories__wrapper,
  .popular-products__wrapper,
  .deals-products__wrapper {
    display: none;
  }

  .popular-products,
  .deals-products--slider {
    padding-bottom: 30px;
  }
}
