// Homepage 01 => Cyclone sale

.cyclone {
  &__content {
    .cards-ss {
      margin-bottom: 24px;
    }
  }
}

// responsive
@media (min-width: 768px) {
  .cyclone {
    &--slider {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .cyclone {
    &__content {
      display: none;
    }
  }
}
