// Homepage 01 => Cyclone sale

// responsive

@include max(991px) {
  .cyclone {
    &__content {
      .cards-ss {
        margin-bottom: 24px;
      }
    }
  }
}

@media (min-width: 768px) {
  .cyclone {
    &--slider {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .cyclone {
    &__content {
      display: none;
    }
  }
}
