.section {
  position: relative;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    a {
      display: flex;
      align-items: center;

      text-transform: capitalize;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: color(primary);
      span {
        margin-left: 12px;
      }
    }

    &--two {
      justify-content: center;
      flex-direction: column;
      h2 {
        text-align: center;
      }
    }

    &--three {
      margin-bottom: 70px;
      &-center {
        justify-content: center;
        .title-bar {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-left {
        .title-bar {
          left: 20px;
        }
      }
      .section-title--two {
        position: relative;
      }
      .title-bar {
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: color(primary);
        bottom: -16px;
        // left: 20px;

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 4px;
          background-color: color(soft-primary);
        }
        &::after {
          right: -15px;
        }
        &::before {
          left: -15px;
        }
      }
    }
  }

  &__title {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: color(primary);
    margin-bottom: 8px;
  }

  &--title-one,
  &--title-two {
    color: color(gray-9);
    text-transform: capitalize;
  }
}

// Responsive
@media (max-width: 767px) {
  .section {
    padding-top: 0px;

    &__head {
      flex-direction: column;
      align-items: center;
    }

    &--title-one {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 15px;
    }

    &--lg {
      padding: 30px 0px;
    }
  }
}
